* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    position: sticky;
    background-color:crimson;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    flex-wrap: wrap;    
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;            
}

.nav-menu {
    display: flex;
    gap: 20px;                      
    flex-wrap: wrap;    
    list-style: none;            
}

.nav-logo {
    display: flex;
    gap: 5px;
}

.nav-logo-img {
    width: 200px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #f5f5f515;
    color: black;
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column; 
        align-items: flex-start;
        padding: 16px;
    }
}

@media screen and (max-width: 480px) {
    .nav-container {
        flex-direction: column;
    }
}