@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, #000428, #004e92);

}

.navbar {
    position: sticky;
    background-color:rgb(238, 51, 88);
    top: 0;
    z-index: 100;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    flex-wrap: wrap;    
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;            
}

.nav-menu {
    display: flex;
    gap: 20px;                      
    flex-wrap: wrap;    
    list-style: none;            
}

.nav-logo {
    display: flex;
    gap: 5px;
}

.nav-logo-img {
    width: 200px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #f5f5f515;
    color: rgba(0, 0, 0, 0.507);
}

@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column; 
        align-items: flex-start;
        padding: 16px;
    }
}

@media screen and (max-width: 480px) {
    .nav-container {
        flex-direction: column;
    }
}