.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 34px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /*transition: all 0.3s ease-in-out;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33333% - 32px);
    max-width: calc(33.33333% - 32px);
    min-width: 300px;
}

/*.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}*/

.pokemon-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    /*background: linear-gradient(135deg, #ebfefa 0%, #b4e9fd 50%);*/
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/023/606/089/small/a-beautiful-anime-style-summer-landscape-green-valley-river-high-mountains-with-snow-capped-peaks-blue-sky-with-white-clouds-ai-generated-photo.jpeg');
    background-size: cover;
}

.pokemon-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 16 px;
    gap: 10px;
    align-items: center;
    
}

.pokemon-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

/*.pokemon-type {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}*/

.pokemon-type.type-normal {
    object-fit: contain;
    width: 30px;
    height: auto;
}

.pokemon-type.type-fire {
    object-fit: contain;
    width: 30px;
    height: auto;

}

.pokemon-type.type-water {
    object-fit: contain;
    width: 40px;
    height: auto;
}

.pokemon-type.type-electric {
    object-fit: contain;
    width: 30px;
    height: auto;
}

.pokemon-type.type-grass {
    object-fit: contain;
    width: 30px;
    height: auto;
}

.pokemon-type.type-psychic {
    object-fit: contain;
    width: 40px;
    height: auto;
}

.pokemon-type.type-ghost {
    object-fit: contain;
    width: 30px;
    height: auto;
}
