.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trainers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 16px;
  }
  
  .trainer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33333% - 32px);
    max-width: calc(33.33333% - 32px);
    min-width: 300px;
  }

  @media screen and (max-width: 768px) {
    .trainer-card {
        flex: 1 1 calc(50% - 1.5rem);  
    }
}

@media screen and (max-width: 480px) {
    .trainer-card {
        flex: 1 1 100%;                
    }
}
  
  .trainer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .trainer-image {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    background: linear-gradient(135deg, #ebfefa 0%, #b4e9fd 50%);
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/023/606/089/small/a-beautiful-anime-style-summer-landscape-green-valley-river-high-mountains-with-snow-capped-peaks-blue-sky-with-white-clouds-ai-generated-photo.jpeg');
    background-size: cover;
  }
  
  .trainer-info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
    align-items: center;
    text-align: center;
    
  }
  
  .trainer-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    margin: 6px 0;
    letter-spacing: 1px;
  }

  .trainer-status {
    margin-top: 6px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    width: fit-content;
    align-self: center;
}

.status-active {
    background: linear-gradient(135deg, #4caf50, #2e7d32);
    color: white;
}

.status-champion {
    background: linear-gradient(135deg, #ff9800, #f57c00);
    color: white;
}
  
