.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trainers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 16px;
  }
  
  .trainer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /*transition: all 0.3s ease-in-out;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33333% - 32px);
    max-width: calc(33.33333% - 32px);
    min-width: 300px;
  }
  
  .trainer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .trainer-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    background: linear-gradient(135deg, #ebfefa 0%, #b4e9fd 50%);
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/023/606/089/small/a-beautiful-anime-style-summer-landscape-green-valley-river-high-mountains-with-snow-capped-peaks-blue-sky-with-white-clouds-ai-generated-photo.jpeg');
    background-size: cover;
  }
  
  .trainer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 16 px;
    gap: 10px;
    align-items: center;
    
  }
  
  .trainer-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  /*.trainer-type {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }*/
